<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <title>All Municipalities - SafeLens</title>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


   <style>
       .card h3,
       .card p {
           text-align: center;
       }
   </style>
</head>


<body>
   <h2>All Municipalities Crime Trend Analysis({{ year }})</h2>


   <div class="container">
       <div class="card chart-card">
           <canvas id="fullCrimeTrendChart" data-labels='{{ trend_months | tojson }}'
               data-values='{{ trend_cases | tojson }}'>
           </canvas>
       </div>
   </div>


   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


   <script>
       const chartEl = document.getElementById('fullCrimeTrendChart');
       const labels = JSON.parse(chartEl.dataset.labels);
       const values = JSON.parse(chartEl.dataset.values);
       const ctx = chartEl.getContext('2d');


       new Chart(ctx, {
           type: 'line',  // line chart for trend
           data: {
               labels: labels,
               datasets: [{
                   label: 'Crime Cases',
                   data: values,
                   fill: true,
                   backgroundColor: 'rgba(20, 93, 160, 0.2)',
                   borderColor: '#145da0',
                   borderWidth: 2,
                   tension: 0.3 // smooth curve
               }]
           },
           options: {
               responsive: true,
               plugins: { legend: { display: false } },
               scales: { y: { beginAtZero: true } }
           }
       });
   </script>




</body>

